{% extends 'livros/base.html' %}
{% block title %}
    Editar livros
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Editar Livro</h1>
        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-warning">
                Salvar alterações
            </button>

            <a href="{% url 'lista_livros' %}" class="btn btn-secondary">
                Voltar para lista
            </a>
        </form>
    </div>
{% endblock %}
