{% extends 'livros/base.html' %}


{% block title %}
Biblioteca
{% endblock %}


{% block content %}

<h1 class="mb-4">
    Sistema de Gerenciamento de Biblioteca
</h1>

<form method="GET" class="mb-4">
    <div class="input-group">
        <input 
            type="text" 
            name="busca" 
            class="form-control"
            placeholder="Digite o título do livro"
            value="{{ busca|default:'' }}"
        >

        <button class="btn btn-primary" type="submit">
            Buscar
        </button>
    </div>
</form>

<a href="{% url 'cadastrar_livro' %}" class="btn btn-success mb-4">
    Cadastrar Livro
</a>


{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}



{% for livro in livros %}

    <div class="card mb-3">
        <div class="card-body">
            <a href="{% url 'detalhe_livro' livro.id %}">
                <h2 class="card-title">
                    {{ livro.titulo }}
                </h2>
            </a>

            <p class="card-text">
                Autor: {{ livro.autor }}
            </p>

            <p class="card-text">
                Ano: {{ livro.ano_publicacao }}
            </p>

            <a href="{% url 'editar_livro' livro.id %}" 
               class="btn btn-warning">
                Editar
            </a>

            <a href="{% url 'excluir_livro' livro.id %}" 
               class="btn btn-danger">
                Excluir
            </a>
        </div>

    </div>
{% empty %}
    <div class="alert alert-warning">
        Nenhum livro encontrado.
    </div>

{% endfor %}


<nav aria-label="Paginação">
    <ul class="pagination justify-content-center">
        {% if livros.has_previous %}

            <li class="page-item">
                <a class="page-link" 
                   href="?pagina={{ livros.previous_page_number }}&busca={{ busca }}">
                    Anterior
                </a>
            </li>

        {% else %}

            <li class="page-item disabled">

                <span class="page-link">
                    Anterior
                </span>

            </li>

        {% endif %}


        {% for num in livros.paginator.page_range %}

            {% if livros.number == num %}

                <li class="page-item active">
                    <span class="page-link">
                        {{ num }}
                    </span>
                </li>

            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ num }}&busca={{ busca }}">
                        {{ num }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}


        {% if livros.has_next %}
            <li class="page-item">
                <a class="page-link" 
                  href="?pagina={{ livros.next_page_number }}&busca={{ busca }}">
                    Próxima
                </a>
            </li>

        {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    Próxima
                </span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}